.headerContainer {
  width: 100%;
  height: 80px;
  background-color: #001421;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  .navigation {
    margin-right: 60px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      padding: 20px;
      font-size: 18px;
      color: gold;
      cursor: pointer;
      text-decoration: none;

      a {
        text-decoration: none;
        color: gold;
      }
    }

    li a:hover {
      color: cyan;
    }
  }
  .logo_link{
    text-decoration: none;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .logo {
    margin-left: 20px;
    color: white;
    font-size: 25px;
    text-shadow: 0 1px 3px white;
  }

  .logo-second {
    color: gold;
    font-size: 25px;
    text-shadow: 0 1px 3px gold;
  }
}