.logo {
  margin-left: 20px;
  color: white;
  font-size: 30px;
}

.logo-second {
  color: gold;
  font-size: 30px;
}
.footerSection{
  background-color: #001421;
  &_logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footerDescription{
 color: white;
}