
.myListSection{
  background-color: #414141;
  height: 100%;
  box-sizing: border-box;
  padding-bottom:433px ;

.myListHeading{
  font-size: 32px;
  color: gold;
margin-left: 650px;
padding-top: 60px;
  margin-bottom: 70px;
}
}

.data-item{
  margin-top: 0;
  img{
    height:400px;
  }
}

.myListContent{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  box-sizing: border-box;
}
.removeFromList{
  width: 50px;
  height: 30px;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: red;
  display: none;
  cursor: pointer;
  border-radius: 50px;

}
.data-item:hover .removeFromList{
  display: block;
}
.removeFromList:hover{
  box-shadow: 5px 8px 68px -6px gold;
}
