/* Slider */
.slick-slider
{

  height: 470px;
  position: relative;
  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  height: 470px;
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slider-next-button{
  width: 50px;
  height: 50px;
  border: none;
  display: block;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  //left: 1496px;
  bottom: 326px;
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
}
  .slider-next-button:hover{
    opacity: 0.8;
  }

  .slider-prev-button{
    width: 50px;
    height: 50px;
    border: none;
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 222px;
    left: 15px  ;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
  }

  .slider-prev-button:hover{
    opacity: 0.8;
  }

.slider-section{
  background-color: #414141;
  height: 600px;
  position: relative;
}

.slick-slide{
  margin-left: 15px;
}
.slider-section_headeing{
  color:gold;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.slick-initialized .slick-slide{
  margin-top: 10px;
}

@media only screen and (max-width: 1025px){
  .slider-next-button{
    width: 45px;
height: 45px;
    bottom: 190px;
  }
  .slider-prev-button{
    width: 45px;
    height: 45px;
    top: 165px;
  }
  .slick-slider{
    height: 350px;
  }
  .slick-track{
    height: 350px;
  }
  .slider-section{
    height: 400px;
  }
  .slick-list{
    height: 350px;
  }
}
@media only screen and (max-width: 426px){
.slider-section_headeing{
  font-size: 25px;
}
}