.random-movies-heading{
  color:gold;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;

}
.random-movies-section{
background-color: #414141;
}
.film-introduce_info{
  color: gold;
  font-size: 17px;
  font-weight: 600;
letter-spacing: 0.55px;
}